<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Division</title>
</head>
<body>
  <h1>CRUD DIVISION</h1>
  <a th:href="@{division/form}">CREATE</a>
  <table>
    <thead>
        <tr>
          <th>id</th>
          <th>Name</th>
          <th>Action</th>
        </tr>
    </thead>
    <tbody>
      <tr th:each="division : ${divisions}">
        <td th:text="${division.id}"></td>
        <td th:text="${division.name}"></td>
        <td><a th:href="@{|/division/update/${division.id}|}">EDIT</a></td>
        <td><a th:href="@{|/division/delete/${division.id}|}">DELETE</a></td>
      </tr>
    </tbody>
  </table>
</body>
</html>